<div id="effect" class="ui-widget-content ui-corner-all"> 
		<h3 class="ui-widget-header ui-corner-all"><%= f.text_field :title %></h3> 
		<p><%= f.text_area :description %></p> 
    <p><%= f.select(:priority, options_for_select([['High', 'High'], ['Medium', 'Medium'], ['Low', 'Low']])) %>
    <p>
    <%= f.submit "Update" %>
  </p>
</div>


